In [1]:
# import numerical python
import numpy as np

#import the pandas
import pandas as pd

# import the seaborn
import seaborn as sns

# import the matplotlib
import matplotlib.pyplot as plt

In [3]:
# load the data
df_house_price=pd.read_csv('House_Price1.csv')

In [5]:
# show the first five oberservation of the data
df_house_price.head()

,price,resid_area,air_qual,room_num,age,distance,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,24.7,4.98,YES,5.480,11.1920,River,23,YES,0
1,21.6,37.07,0.469,6.421,78.9,4.99,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,1
2,34.7,37.07,0.469,7.185,61.1,5.03,22.2,4.03,NO,7.394,101.1200,NaN,38,YES,0
3,33.4,32.18,0.458,6.998,45.8,6.21,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0
4,36.2,32.18,0.458,7.147,54.2,6.16,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0

In [7]:
dictionary={
    'price':'Price',
    'resid_area':'Residential_area',
    'air_qual':'Air_Quality',
    'room_num':'Room_number',
    'age':'Age',
    'distance':'Distance',
    'teacher':'Teacher',
    'poor_prop':'Poor_property',
    'airport':'Airport',
    'n_hos_bed':'N_Hospital_bed',
    'n_hot_rooms':'N_Hotel_rooms',
    'waterbody':'Waterbody',
    'rainfall':'Rainfall',
    'bus_ter':'Bus_ter',
    'Sold':'Sold',
}

In [9]:
# performe the rename action
df_house_price=df_house_price.rename(columns=dictionary)

In [11]:
# lets treat the nullvalue in the waterbody column
df_house_price.Waterbody=df_house_price.Waterbody.fillna('river')

In [13]:
# N_Hospital_Beds, we have less than 10% of data is missing
df_house_price.dropna(inplace=True)

In [17]:
df_target=df_house_price['Sold']

In [19]:
df_features = df_house_price.drop('Sold',axis=1)

In [21]:
# segregate the data based on datatpe
df_num=df_house_price.select_dtypes(include='number')
df_cat=df_house_price.select_dtypes(include='object')

In [25]:
#use dummmy encoding
df_encoded=pd.get_dummies(df_cat)
# reset the index
df_encoded=df_encoded.reset_index()

In [27]:
# import the standard scalar
from sklearn.preprocessing import StandardScaler

#initiate the standard scalar
ss=StandardScaler()

In [29]:
# scaled the value present in numerical dataframe
scale=ss.fit_transform(df_num)

In [31]:
# numerate the data into the dataframe
scaled_df=pd.DataFrame(scale,columns=df_num.columns)

In [35]:
# reset the index
scaled_df=scaled_df.reset_index()

In [37]:
# concate encoded variable and scalar variable
df_independent=pd.concat([df_encoded,scaled_df],axis=1)

In [39]:
# import the train test split
from sklearn.model_selection import train_test_split

In [41]:
# split the data
x_train,x_test,y_train,y_test=train_test_split(df_independent,df_target,test_size=0.2)

# decision Tree Classifier

In [50]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

# create a Decision Tree classifier
tree_model = DecisionTreeClassifier()

# fit the model to the training data
tree_model.fit(x_train,y_train)

# predict on the testing data
prediction = tree_model.predict(x_test)

# calculate classification_report
class_report = classification_report(y_test, prediction)
print(class_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        55
           1       1.00      1.00      1.00        45

    accuracy                           1.00       100
   macro avg       1.00      1.00      1.00       100
weighted avg       1.00      1.00      1.00       100

In [ ]:
gitHub_Repo_Insight_And_Pul